{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOGAPP|DETAIL </title>
  
  
</head>
<body>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous">
  </script>
  



  <div class="container">
    <a href="{% url 'myblog:home'  %}"class="btn btn-info">Back</a>
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <!-- <img src="{{myblog.image.url}}" alt="..."  /> -->
          <div class="card-body">
            <h5 class="card-title">{{ articles.title }}</h5>
            <p class="card-text">{{ articles.author }} | {{ articles.created_on }}</p>
            <p class="card-text">{{ articles.content | safe }}</p>
            <p class="card-text text-muted fst-italic"> 
              
           <form action="{% url 'myblog:like-post' %}" method="post"class="btn like-form"> 
          <!-- <form action="" method="post"class="btn"></form> -->
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ articles.id }}" >
            {% if user not in articles.likes.all %}
              <button  type="submit" id="btn_like" class="like" value="{{ articles.id }}" name="article_id" >Like</button>
            {% else %}
              <button  type="submit" id="btn_like" class="like" value="{{ articles.id }}"  name="article_id">UnLike</button>
            {% endif %}
            <span id="like-count"> {{ articles.likes.all.count }} likes</span>
           </form>
           
  
          <!-- <strong class="like_count">{{ articles.likes.all.count }} Likes</strong> -->
  
          {% for comment in comments %}
            <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
                {{ comment.body|linebreaks }}
            </div>
          {% empty %}
            <p>There are no comments yet.</p>
          {% endfor %}
  
          {% if new_comment %}
            <h2>Your comment has been added.</h2>
          {% else %}
            <h2>Add a new comment</h2>
            <form action="" method="post" id="form">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
            </form>
          {% endif %}
          
        </div>
      </div>
    
    </div>
  </div>
  



<script>
// comment ajax_form
const form=document.getElementById('form');
form.addEventListener("submit",submitHandler);
      
    
       function submitHandler(e){
        e.preventDefault();
        $.ajax({
              type:'POST',
              
              data:$("#form").serialize(),
              dataType:'json',
              success:function(data){ 
              if(data.msg === 'Success'){
                form.reset(); 
                  alert('you are commented.')
            }
         }
    
      }) 
    
      }
    

$(document).ready(function(){

//like ajax call
$('.like-form').submit(function(e){
    e.preventDefault();
     const article_id=$('.like').val();
    
     console.log(article_id);
     const token=$('input[name=csrfmiddlewaretoken]').val();
     const url=$(this).attr('action') 
  
   $.ajax({
       method:"POST",
       url:url,
       headers:{'X-CSRFToken': token},
       data:{
           'article_id':article_id
       },
       success:function(response){
        console.log(response);
         if(response.msg === 'Success'){
          const btn= document.getElementById("btn_like");
          let count=document.getElementById("like-count")
          console.log(btn);
          console.log(count);
          

    if(btn.innerText === "Like"){
      btn.innerText = "UnLike";
      
      count.innerHTML = +1;
      }else{
        btn.innerText= "Like";
        
        count.innerHTML = 0 ;
        }
       
                    }

                    // if (trim === 'Unlike'){
                    //   $(selector).css("color","blue");
                    //   res = trimCount - 1
                    // }
                    // else {
                    //   $(selector).css("color","black");
                    //   res = trimCount + 1
                    // }
      
   
  }}

)})})


</script>

   





</body>
</html>


{% endblock %}