{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOGAPP|DETAIL </title>
  
  
</head>
<body>

  <script src="https://code.jquery.com/jquery-3.5.0.min.js"integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous">
  </script>
  



  <div class="container">
    <a href="{% url 'myblog:home'  %}"class="btn btn-info">Back</a>
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <!-- <img src="{{myblog.image.url}}" alt="..."  /> -->
          <div class="card-body">
            <h5 class="card-title">{{ articles.title }}</h5>
            <p class="card-text">{{ articles.author }} | {{ articles.created_on }}</p>
            <p class="card-text">{{ articles.content | safe }}</p>
            <p class="card-text text-muted fst-italic"> 
              
           <form action="{% url 'myblog:like-post' %}" method="post"class="btn like-form"> 
          <!-- <form action="" method="post"class="btn"></form> -->
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ articles.id }}" >
            {% if user not in articles.likes.all %}
              <button  type="submit" id="btn_like" class="like" value="{{ articles.id }}" name="article_id" >Like</button>
            {% else %}
              <button  type="submit" id="btn_like" class="like" value="{{ articles.id }}"  name="article_id">UnLike</button>
            {% endif %}
            <span id="like-count"> {{ articles.likes.all.count }} likes</span>
           </form>
           
  
          <!-- <strong class="like_count">{{ articles.likes.all.count }} Likes</strong> -->
  
          {% for comment in comments %}
            <div class="comment" id="comn">
            <!-- <p class="info" >
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}

              
            </p>
            {{ comment.body|linebreaks }} -->
            <h5 class="mt-0" id = 'commenter'>comment by {{comment.name}}</h5>
            <p id = 'comment'>{{comment.body}}</p>
            </div>
          {% empty %}
            <p>There are no comments yet.</p>
          {% endfor %}
  
          {% if new_comment %}
            <h2>Your comment has been added.</h2>
          {% else %}
            <h2>Add a new comment</h2>
            <form action="" method="post" id="form">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
            </form>
          {% endif %}
          
        </div>
      </div>
    
    </div>
  </div>
  



<script>
// comment ajax_form
const form=document.getElementById('form');
let commentContainer = document.getElementById('comn')
console.log(form)
form.addEventListener("submit",submitHandler);
      
    
       function submitHandler(e){
        e.preventDefault();
        let commenter = document.createElement('h5')
        let comment = document.createElement('p')
        commenter.classList.add('mt-0')
        $.ajax({
              type:'POST',
             
             data:$("#form").serialize(),
              dataType:'json',
              success:function(data){ 
                console.log(data);
              commenter.innerText = data.author
              comment.innerText = data.new_comment
              commentContainer.appendChild(commenter)
              commentContainer.appendChild(comment)
              form.reset()

            
         }
    
      }) 
    
      }
    

$(document).ready(function(){

//like ajax call
$('.like-form').submit(function(e){
    e.preventDefault();
     const article_id=$('.like').val();
    
     console.log(article_id);
     const token=$('input[name=csrfmiddlewaretoken]').val();
     const url=$(this).attr('action') 
  
   $.ajax({
       method:"POST",
       url:url,
       headers:{'X-CSRFToken': token},
       data:{
           'article_id':article_id
       },
       success:function(response){
        console.log(response);
         if(response.msg === 'Success'){
          const btn= document.getElementById("btn_like");
          var btn_like= document.getElementById("like-count");
           var count=response.likes_count
           btn_like.innerText=count;
          console.log(btn);
          console.log(count);
         

    if(btn.innerText === "Like"){
      btn.innerText = "UnLike";
    
     btn_like.innerText=count;
      }
      else{
        btn.innerText= "Like";
        
        btn_like.innerText=count;
       
        }
       
                    }

                   
      
   
  }}

)})})


</script>

   





</body>
</html>


{% endblock %}