{% extends 'base.html' %} {% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BLOGAPP|DETAIL </title>
  
  
</head>
<body>





  <div class="container">
    <a href="{% url 'myblog:home'  %}"class="btn btn-info">Back</a>
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
          <!-- <img src="{{myblog.image.url}}" alt="..."  /> -->
          <div class="card-body">
            <h5 class="card-title">{{ articles.title }}</h5>
            <p class="card-text">{{ articles.author }} | {{ articles.created_on }}</p>
            <p class="card-text">{{ articles.content | safe }}</p>
            <p class="card-text text-muted fst-italic"> 
              
          <form action="{% url 'myblog:like-post' %}" method="post"class="btn">
            {% csrf_token %}
            <input type="hidden" name="article_id" value="{{ articles.id }}">
            {% if user not in articles.likes.all %}
              <button class="ui button positive" type="submit">Like</button>
            {% else %}
              <button class="ui button negative" type="submit">UnLike</button>
            {% endif %}
           </form>
           
  
          <strong>{{ articles.likes.all.count }} Likes</strong>
  
          {% for comment in comments %}
            <div class="comment">
            <p class="info">
                Comment {{ forloop.counter }} by {{ comment.name }}
                {{ comment.created }}
            </p>
                {{ comment.body|linebreaks }}
            </div>
          {% empty %}
            <p>There are no comments yet.</p>
          {% endfor %}
  
          {% if new_comment %}
            <h2>Your comment has been added.</h2>
          {% else %}
            <h2>Add a new comment</h2>
            <form action="." method="post" id="form">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Add comment"></p>
            </form>
          {% endif %}
          
        </div>
      </div>
    
    </div>
  </div>
  
  
  
</body>
</html>





{% endblock %}