{% extends 'base.html' %}
{% block title %} home{% endblock%}
{% block content %}
{% load static%}




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>BLOGAPP</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  

 </head>

<body>

  <!-- ======= Top Bar ======= -->
  <section id="topbar" class="d-flex align-items-center">
   
    <div  style="width:100%;">
      <!-- <ul class="navbar nav_inline" > -->
  {% if user.is_authenticated %}
  <div class="div_inline">
  
    <a class="nav-link scrollto" href="#profile">{{user}}  </a>
    <span>|</span>
    <a  class="nav-link scrollto" href="{% url 'logout' %}">Logout</a>
  
  </div>
        {% endif %}
        <!-- </ul> -->
        </div>
</section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">BLOGAPP<span>.</span></a></h1>
      

      <nav id="navbar" class="navbar">
        <ul>
          
          
          <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
           
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link scrollto" href="{% url 'myblog:list' %}">Article</a></li>
            <li>
            <a class="nav-link scrollto" href="{% url 'myblog:create' %}">Add Article</a>

          
          </li>
          
          
         
           {% else %} 
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="{% url 'login' %}">signin</a>
          
          </li>
          <li class="nav-item">
            <a class="nav-link scrollto" href="{% url 'user:register' %}">Signup</a>
          
          </li>
          

          {% endif %} 
         
          
         
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  

  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section><!-- End Hero -->

    
<section>
  {% if not  user.is_authenticated %}

  <div class="container">
    <div class="row">
        
        <div class="col-md-8 mt-3 left">
            {% for article in articles %}
            <div class="card mb-4">
                <div class="card-body">
                 
                    <h2 class="card-title">{{ article.title }}</h2>
                    <p class="card-text text-muted h6">{{ article.author }} | {{ article.created_on}} </p>
                    <p class="card-text">{{article.content|slice:":200" }}</p>
                    <a href="{% url 'myblog:detail' article.id %}" class="btn btn-primary">Read More &rarr;</a>
                  {% if user.is_authenticated %}
                <form action="{% url 'myblog:like-post' %}" method="post"class="btn">
                  {% csrf_token %}
                  <input type="hidden" name="article_id" value="{{ article.id }}">
                  {% if user not in article.likes.all %}
                    <button class="ui button positive" type="submit">Like</button>
                  {% else %}
                    <button class="ui button negative" type="submit">UnLike</button>
                  {% endif %}
                  {% else %}
                  <a class="btn btn-outline-info" href="{% url 'login' %}?next={% url 'myblog:like-post' %}">Like</a><br>
                  {% endif %}
                  <strong>{{ article.likes.all.count }} Likes</strong>

                </form>
              </div>
            </div>
            {% endfor %}
        </div> 

        
       {% endif %} 
</section>
  

   

    
            <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>BLOGAPP</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by <a href="https://bootstrapmade.com/">Chinju Meina Monachan</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  {% endblock %}

</body>

</html>
